<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}">
</head>

<body>
    <div id="top">
        &nbsp; 
    </div>

    <div id="head">
        Welcome to My Website
    </div>

    <div id="loginform">
        <form action="{% url 'login:profile' %}" method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Username&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td><input type="text" id="userName" name="userName" value="" placeholder=""/></td>
                </tr>
                <tr>
                    <td>Password&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td><input type="text" id="userPassword" name="userPassword" value="" placeholder=""/></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <br/>
                        <input type="submit" value="Sign in" id="btn_signin"/>
                    </td>
                </tr>
            </table>  
            
        </form>
    </div>

</body>
</html>