* {
    margin:0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: white url("../images/background.jpg") no-repeat;
    background-size: cover;
    height: 100%;
}

li a {
    color: whitesmoke;
    text-decoration: none;
}
